{% extends 'data/data.html' %}

{% block content %}
    <h1>Data detail:</h1>

    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Path:</strong> {{ path }}</p>
    <p><strong>Type:</strong> {{ type }}</p>

    <table class="table table-striped">
        <caption>
            <h3>Physical attribute</h3>
        </caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for key, val in data.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ val }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block saved %}

{% endblock %}